[data-theme="drawo-dark"] {
  --accent: #b19eff;
  --accent-dark: #6f5af6;
  --logoduotone-firstcolor: #6f5af6;
  --logoduotone-secondcolor: #c6bdff;
  --logocolor: #ffffff;
  --accent-rgb: 177, 158, 255;
  --text-rgb: 220, 220, 220;
  --background-rgb: 15, 15, 15;
  --panel-border: rgba(255, 255, 255, 0.03);
  --panel-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
  --app-bg: #0f0f0f;
  --app-fg: #f3f4f6;
  --panel-bg: #1e1e1e;
  --popover-dark: var(--panel-bg);
  --popover-foreground-dark: var(--app-fg);
}
